html {
    background: url('../img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pad, #pad:focus {
    display: block;
    height: 30em;
    padding: 6px 12px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.42857143;
/*    font-family: 'Courier New', Courier, monospace;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    font-family: 'PT Mono', monospace;*/
/*    font-family: 'Cutive', serif;*/
    font-family: 'Special Elite', cursive;
    background-color: transparent;
    resize: none;
    overflow: auto;
    
    float: left;    
    width: 50%;
    margin-left: 25%;

    color: #333;
    background-color: rgba(255,255,255,.50);
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline-color: #ccc;
}