html {
    background: url('../img/background-1280x720.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#pad {
    width: 80em;
    height: 40em;
    display: block;
    margin: 40px auto;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: transparent;
    
/*    border: none;*/
    overflow: auto;
    outline: none;
}